.HotItemCard {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: white;
    width: 31.81%;
    transition: all 0.2s linear;
    cursor: pointer;
    margin-left: 14px;
    margin-bottom: 14px;
}

.HotItemCard:hover {
    box-shadow: 0px 6px 15px rgba(53, 53, 53, 0.363);
    transform: translateY(-0.1vmax);

}

.HotItemCard > img {
    width: 70%;
}

.HotItemCard > p {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: rgb(85, 83, 83);
    margin-top: 10px;
}

.HotItemCard > span {
    margin: -0.3vmax 0 1vmax 0;
    color: orange;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}