.preNav {
    background-color: #212121;
    height: 40px;
    line-height: 40px;
    margin: 0 auto;

}

.preContainer {
    height: 40px;
    width: 1226px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}



.preNav > div > div > a{

color: #b0b0b0;
margin: 0;
padding: 0;
text-decoration: none;
background-color: transparent;
font-size: 0.7rem;
font-family: ProximaNova,Arial,sans-serif;
font-weight: 400;


}

.right {
    display: flex;
    align-items: center;
    justify-content: center;
}

.icon {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 10px;
}


.preNav > div > div > a > svg{
    fill: rgb(180, 180, 180);
}

.preNav > div > div > a > svg:hover{
    fill: white;
}

span {
padding: 0 15px;
color: rgb(180, 180, 180, 0.644);
font-size: 2 rem;
font-weight: 100;

}


.preNav > div > div > a:hover{

    color: white;
    
} 

.icon:hover {
    fill: white;
    color: white;
}
